*{
  margin: 0;
  padding: 0; 
}
body{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.content {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  font-family: bebas neue;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, aqua, blue, Magenta, red, orange, yellow, green, cyan, blue, violet, cyan, skyblue);
  background-size: 400% 400%;
  animation: animate 15s ease infinite;
}
.content span{
  font-size: 80px;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
